.footer {
  display: flex;
  margin: 24px 0 0;
}

.footer__link {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  text-transform: none;
  font-weight: normal;
  margin: 0 auto;
  font-family: var(--font-primary);
  font-size: 0.8rem;
}
