.skills {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}

.skills__title {
  font-size: 1.6rem;
  text-align: center;
}

.skills__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.skills__item {
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 16px;
}

@media (max-width: 600px) {
  .skills__item {
    width: 40%;
  }
}

.skills__item-icon {
  width: 64px;
  height: 64px;
  border-radius: 16px;
}

.skills__item-title {
  margin-top: 16px;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

.skills__some-shit {
  padding: 8px;
  margin: 0 auto;
  border-radius: 16px;
  font-size: 12px;
  color: #000;
  background-color: #44DA8680;
  text-align: center;
}
